@model IEnumerable<Xaloon.Areas.Customer.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-secondary">Appointments</h1>

<p class="container">
    <a asp-controller="Dashboard" asp-action="Dashboard" class="btn btn-secondary">Back to Dashboard</a>
    <a asp-area="Customer" asp-controller="Appointments" asp-action="Create" class="btn btn-dark float-end">Book Appointment</a>
</p>
<table id="tblData" class="table table-dark table-bordered container">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Day)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ExtraMessage)
            </th>
            <th class="text-center">
                Status (Approved when checked)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Booker.FirstName)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Title.Bookingitle)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Day.SetDay)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Time.SetTime)
            </td>
                <td class="text-center">
                @Html.DisplayFor(modelItem => item.ExtraMessage)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.BookedOn)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Approved)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
