@model IEnumerable<Xaloon.Areas.Customer.Models.Appointment>
@using Microsoft.AspNetCore.Identity
@using Xaloon.Areas.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped border">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Booker)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Day)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ExtraMessage)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.BookedOn)
            </th>
            <th class="text-center">
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Booker.FirstName)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Title.Bookingitle)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Day.SetDay)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Time.SetTime)
            </td>
             <td class="text-center">
                @Html.DisplayFor(modelItem => item.ExtraMessage)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.BookedOn)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Approved)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
