@page
@using Xaloon.Areas.Data
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="rapper">
    <div class="registration_form">
        <div class="title">
            Registration Form
        </div>
        <h6 class="text-center text-light">Create Acoount</h6>

        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form_wrap">
                <div class="input_grp">
                    <div class="input_wrap">
                        @*<label for="fname">First Name</label>*@
                        <input asp-for="Input.FirstName" class="form-control" autocomplete="username" aria-required="true"  placeholder="First Name">
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>

                    <div class="input_wrap">
                        @*<label  for="lname">Last Name</label>*@
                        <input asp-for="Input.LastName" class="form-control" autocomplete="username" aria-required="true"   placeholder="Last Name">
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="input_wrap">
                    @*<label for="email">Gender</label>*@
                    <select asp-for="Input.Gender" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" asp-items="@Html.GetEnumSelectList<Gender>()">
                    <option selected value="">--Choose Gender--</option>
                    </select> 
                    <span asp-validation-for="Input.Gender" class="text-danger"></span>
                </div>
                <div class="input_wrap">
                    @*<label for="email">Email Address</label>*@
                   <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email Address">
                   <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                
                <div class="input_wrap">
                    @*<label for="city">Password</label>*@
                    <input asp-for="Input.Password" class="form-control" autocomplete="username" aria-required="true"  placeholder="Password">
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="input_wrap">
                    @*<label for="city">Confirm Password</label>*@
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="username" aria-required="true"  placeholder="Confirm Password">
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="input_wrap">
                    @*<label for="city">Phone Number</label>*@
                    <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="username" aria-required="true"  placeholder="Phone Number">
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>

                <div class="input_wrap">
                    @*<label for="city">Street Address</label>*@
                    <input asp-for="Input.StreetAddress" class="form-control" autocomplete="username" aria-required="true"   placeholder="Street Address">
                    <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
                </div>

                <div class="input_grp">
                    <div class="input_wrap">
                        @*<label for="fname">City</label>*@
                        <input asp-for="Input.City" class="form-control" autocomplete="username" aria-required="true"   placeholder="City">
                        <span asp-validation-for="Input.City" class="text-danger"></span>
                    </div>

                    <div class="input_wrap">
                        @*<label  for="lname">State</label>*@
                        <input asp-for="Input.State" class="form-control" autocomplete="username" aria-required="true"  placeholder="State">
                        <span asp-validation-for="Input.State" class="text-danger"></span>
                    </div>
                </div>

                <div class="input_wrap">
                    <select asp-for="Input.Role" class="form-select" asp-items="@Model.Input.RoleList">
                            <option disabled selected>--Select Role--</option>
                     </select> 
                </div>

                <div class="input_wrap">
                    <input type="submit" value="Register Now" class="submit_btn">
                </div>
            </div>
        </form>
    </div>
</div>

@*<div class="row">
    <div class="col-md-4">
               <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="row">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating py-2 col-12">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.FirstName"></label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="Input.LastName" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.LastName"></label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <select asp-for="Input.Gender" class="form-select" asp-items="@Html.GetEnumSelectList<Gender>()">
                    <option disabled selected>--Select Title--</option>
                </select>                
                <label asp-for="Input.Gender"></label>
                <span asp-validation-for="Input.Gender" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.PhoneNumber"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.StreetAddress" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.StreetAddress"></label>
                <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.City" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.City"></label>
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.State" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.State"></label>
                <span asp-validation-for="Input.State" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <select asp-for="Input.Role" class="form-select" asp-items="@Model.Input.RoleList">
                    <option disabled selected>--Select Role--</option>
                </select>                

            </div>
            <br />
            <button id="registerSubmit" type="submit" class="w-10 btn btn-primary">Register</button>
        </form>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
